.earphone {
  height: 100vh;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.main{
  background-color:black ;
}
.earphone_first {
  width: 850px;
}
.earphone_first img {
  width: 75%;
}
.earphone_sec {
  width: 600px;
}
.earphone_sec p {
  color: gray;
}
.earphone_sec h1 {
  font-size: 43px;
}
.earphone_sec h4 {
  letter-spacing: 3px;
  color: #d97c4a;
}


.features {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.features h1 {
  font-size: 40px;
}
.text1 {
  flex: 0.7;
  margin-right: 20px;
  padding: 20px;
}
.text1 p {
  color: lightgray;
}
.text2 {
  flex: 0.3;
}
.text2 li {
  list-style: none;
}
.text2 li a {
  text-decoration: none;
}
.lis {
  display: flex;
}
.lis .lis1 li {
  color: #d97c4a;
  font-weight: 600;
  margin-bottom: 14px;
}
.lis .lis2 li {
  color: lightgray;
  margin-bottom: 14px;
}

.ear_img {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.ear_img1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 0.5;
}
.ear_img1 img {
  padding-bottom: 10px;
  width: 74%;
  object-fit: contain;
  border-radius: 20px;
}
.ear_img2 {
  flex: 0.5;
}
.ear_img2 img {
  object-fit: contain;
  border-radius: 20px;
  width: 100%;
}
.coun{
   display: flex;
   width: 320px;
   justify-content: space-between;
}
.coun1 {
  display: flex;
  align-items: center;
  background-color: lightgray;
  width: 120px;
  height: 50px;
}
.coun1 .MuiSvgIcon-root {
  font-size: 12px;
}
.decrease {
  color: gray;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.increase {
  color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.coun_bt{
    width: 160px !important;
}