.active_class{
    color: #5ECE7B;
    font-weight: 600;
}
.active_class::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    top: 100%;
    right: 93.7%;
    background-color: #5ECE7B;
}
.active_class_to{
    color: #5ECE7B;
    font-weight: 600;
}
.active_class_to::after{
    content: "";
    position: absolute;
    width: 78px;
    height: 4px;
    top: 100%;
    right: 85%;
    background-color: #5ECE7B;
}
