.active_class {
  color: #5ece7b;
  font-weight: 600;
}
.active_class::after {
  content: "";
  position: absolute;
  width: 94px;
  height: 4px;
  top: 100%;
  right: 88%;
  background-color: #5ece7b;
}
.active_class_to {
  color: #5ece7b;
  font-weight: 600;
 
}
.active_class_to::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  top: 100%;
  right: 80.5%;
  background-color: #5ece7b;
}

.active_cla {
  color: #5ece7b;
  font-weight: 600;
}
.active_cla::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  top: 100%;
  right: 96.5%;
  background-color: #5ece7b;
}
.jat {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.030);
  top: 2%;
  left: 5%;
  right: 0;
  bottom: 0;
  width: 86%;
 height: 68%;
  z-index: 100;
}
.outofstock {
  pointer-events: none !important;
  cursor: not-allowed;
}
