.product_left{
    display: flex;
}
.product_dis{
    display: flex;
    width: 100%;
}
.product_left{
    flex: .6;
}
.product_right{
    flex: .4;
}
.left_imgs img{
 width: 50%;
text-transform: uppercase;
}