.container{
    background-color: black;
    height: 320px;
}
.text h1{
    margin-top:80px;
    position: relative;
    margin: 60px auto;
    width: 260px;
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
}

.speaker{
    height: 100vh;
     display: flex;
     width: 1100px;
     margin: 0 auto;
     justify-content: space-between;
     align-items: center;
}
.speaker_first {
    width: 850px;
}
.speaker_first img{
    width: 75%;
}
.speaker_sec{
   width: 600px;
}
.speaker_sec p{
    color: gray;
}
.speaker_sec h1{
    font-size: 43px;
}
.speaker_sec h4{
    letter-spacing: 3px;
    color: #D97C4A;
}
.speaker_sec button{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 37%;
    padding: 18px 20px;
    font-weight: 500;
    color: #fff;
    font-weight: 600;
    border: none;
    background-color:#D97C4A ;
}
.speaker_sec button:hover{
    background-color: #FBAF84;
}
.speaker_s{
    height: 100vh;
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.speaker_ss{
    margin-left: 100px;
    width: 850px;
}
.speaker_ss img{
    width: 80%;
}
