.navbar{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.main{
    background-color: black;
}
.navbar h1{
    font-size: 22px;
  color: #fff;
}
.list{
    text-align: center;
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
}
.list li{
    list-style: none;
    text-decoration: none;
    font-size: 17px;
}
.list li a{
    text-decoration: none;
    color: #fff;
}
.line{
    width: 1200px;
    border: .2px solid #fff;
}
.nav-active{
    color: #C7451E !important;
}
.list li a:hover{
    color: #C7451E !important;
}

.cart .MuiSvgIcon-root{
    color:#fff;
}